* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    max-width: 80%;
    /* background-color: rgb(188, 125, 247); */
    padding: 34px;
    margin: auto;
}

.abouttext {
    text-align: center;
    color: white;
    text-shadow: 2px 2px 5px black;
    text-decoration: underline;
}

.aboutbody {
    text-align: justify;
    color: white;
    text-shadow: 2px 2px 5px black;
    font-family: Arial, Helvetica, sans-serif;
}